body {
    font-family: 'Allison', cursive;
    margin: 0;
    padding: 0;
}
.title {
    text-align: center;
    font-size: 40px;
}
#main {
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.boton {
    margin: auto;
}